*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
*.swp
*.swo
credentials.cfg
logs/all.log
es-data/
override.cfg
.DS_Store
__pycache__/
projects.json
dashboards/.DS_STORE
people.yaml
result.yaml
identities.yaml
