# Mordred configuration file (Overrides)
# ref https://chaoss.github.io/grimoirelab-tutorial/sirmordred/container.html
#
# Final configuration file in the chain, so parameters provided here override everything.
#
# override.cfg is in .gitignore, so feel free to put private data here.

[github]
# Visit https://github.com/settings/tokens to generate a new access token.
# No special scopes are required for the token.
api-token = <GITHUB TOKEN HERE>

[slack]
# Visit https://api.slack.com/apps to create a legacy access token.
# docs: https://slack.com/intl/en-gb/help/articles/215770388-Create-and-regenerate-API-tokens
api-token = <SLACK APP TOKEN HERE>
